extends layout

block content
  br
  h2 Thank You for Contacting Us.
  br
  .heading
    h2 First Data in the Database #{title}
  br
  .center
    h3 Name: #{data.name}
    h3 Email: #{data.email}
    h3 Phone: #{data.phone}
    h3 Message: #{data.message}


