extends layout

block content
  br
  h2 Thank You for Registering With Us.
  br
  .heading
    h2 Submitted Data From Registration Page #{title}
  br
  .center
    h3 First Name: #{data[0]}
    h3 Last Name: #{data[1]}
    h3 Address: #{data[2]}
    h3 City: #{data[3]}
    h3 Province: #{data[4]}
    h3 Postal Code: #{data[5]}
